body {
	background: #eee; color: #111;
	text-align: center;
	font-family: 'helvetica-neue', helvetica, arial, sans-serif;
	}

.leadin {
	height: 100vh;
	background: #111 url(../images/binding_dark.png) repeat;
}

.row {
	padding: 60px 10px;
	max-width: 900px;
	border-bottom: 1px solid #ccc;}

.leadin .row {border-bottom: 0px;}

h1.brand {
	text-align: center;
	font-family: 'helvetica-neue', helvetica, arial, sans-serif;
	font-size: 90px;
	font-weight: bold;
	color: #555;
	font-style: normal;
	letter-spacing: -1px;
}

h1 {
	font-size: 45px;
	line-height: 60px;
	text-align: center;
	font-family: georgia, serif;
	font-style: italic;
	font-weight: 100;
	color: #ccc;
	margin: 100px 30px;
}

h2 {
	font-size: 35px;
	display: block;
	text-align: center;
	margin-bottom: 40px;
	font-weight: 300;
}

p {
	font-size: 18px;
	line-height: 36px;
	margin: 0 70px 20px;
}


/* tablet */
@media screen and (max-width: 768px) {
	h1.brand {font-size: 45px;}
	h1 {font-size: 20px; line-height: 35px;}
	p {margin: 0 10px 20px;	}


}
